<div aurelia-app="main">
    <div class="splash">
        <div class="message">Welcome to Aurelia & ASP.NET Core</div>
        <i class="fa fa-spinner fa-spin"></i>
    </div>
    <script src="~/jspm_packages/system.js" asp-append-version="true"></script>
    <script src="~/config.js" asp-append-version="true"></script>
    <script>
        // prevent caching
        var systemLocate = System.locate;
        System.locate = function (load) {
            var System = this;
            return Promise.resolve(systemLocate.call(this, load)).then(function (address) {
                if (address.lastIndexOf("html.js") > -1) return address;
                if (address.lastIndexOf("css.js") > -1) return address;
                return address + System.cacheBust;
            });
        };
        System.cacheBust = '?bust=' + Date.now();
        System.import('aurelia-bootstrapper');
    </script>
</div>